.care__lowerNav{
    border-bottom: 1px solid var(--color-border);
}
.care__lowerNav-content {
    /* width: 42%; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 1.6rem 4rem 0 3rem;
}
.care__lowerNav-content p {
    margin-right: 5%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-light);
    text-transform: capitalize;
    cursor: pointer;
    padding-bottom: 1.6rem;
    border-bottom: 2px solid var(--color-bg);
}
.care__lowerNav-content a {
    color: var(--color-text-light);
    text-decoration: none;
    padding-bottom: 1.9rem;
}
.care__lowerNav-content a:hover,
.care__lowerNav-content p:hover,
.care__lowerNav-content a:focus,
.care__lowerNav-content p:focus{
    color: var(--color-text-dark);
    border-bottom: 2px solid var(--color-text-purple);
}

@media screen and (max-width:500px) {
    .care__lowerNav-content {
        padding: 1.6rem 2rem 0 1.5rem;
    }
    .care__lowerNav-content p {
        font-size: 12px;
        margin-right: 3%;
        padding-bottom: 1.6rem;
    }
    .care__lowerNav-content a {
        padding-bottom: 2.2rem;
    }
}
@media screen and (max-width:350px) {
    .care__lowerNav-content {
        padding: 1.6rem 1rem 0 1rem;
    }
    .care__lowerNav-content p {
        font-size: 9px;
        margin-right: 4%;
        padding-bottom: 1.6rem;
    }
    .care__lowerNav-content a {
        padding-bottom: 2.4rem;
    }
}