.care__lowerNav{
    border-bottom: 1px solid var(--color-border);
}
.care__lowerNav-content {
    width: 42%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 0 3rem;
}
.care__lowerNav-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-light);
    text-transform: capitalize;
    cursor: pointer;
    padding-bottom: 1rem;
}
.care__lowerNav-content a {
    color: var(--color-text-light);
    text-decoration: none;
    padding-bottom: 1.3rem;
}
.care__lowerNav-content a:hover,
.care__lowerNav-content p:hover,
.care__lowerNav-content a:focus,
.care__lowerNav-content p:focus{
    color: var(--color-text-dark);
    border-bottom: 2px solid var(--color-text-purple);
}