.care__sideBar{
    padding: 2.5rem;
}
.care__sideBar-contact{
    border: 1px solid var(--color-border);
    padding: 1rem 0 1rem 6rem;
    border-radius: .5rem;
    align-items: center;
}
.care__sideBar-contact__name{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 22px;
    color: var(--color-text-dark);
}
.care__sideBar-contact__email{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
    color: var(--color-text-light);
}
.care__sideBar-menu{
    padding-right: 2rem;
}
.care__sideBar-menu__tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
}
.symbol{
    margin-right: 1rem;
}
.care__sideBar-menu__tab-admin,
.care__sideBar-menu__tab-knowledge,
.care__sideBar-menu__tab-training,
.care__sideBar-menu__tab-agent,
.care__sideBar-menu__tab-help {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-light);
}
.care__sideBar-menu__tab-analytics{
    color: var(--color-text-purple);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.care__sideBar-menu__container li{
    margin-left: 2.7rem;
    margin-top: 1rem;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-light);
}
.care__sideBar-menu__container li:nth-child(1){
    color: var(--color-text-dark);
}