.care__average{
    display: flex;
    flex-direction: column;
    width: 187px;
    height: 116px;
    background: #FAFAFA;
    border: 1px solid var(--color-border);
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 8px;
    justify-content: center;
}
.care__average-txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-text-light);
}
.care__average-time{
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: var(--color-text-dark);
    margin-top: .7rem;
}