.care__graphCont{
    height: 314px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    margin: 1rem 4rem 2rem 3rem;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.care__graphCont-left{
    width: 80%; /* calc(100% - 235px); */
}
.care__graphCont-right{
    border-left: 1px solid var(--color-border);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}