*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html{
    font-size: 10px;
}
body{
    background: var(--color-bg);
    font-family: var(--font-family);
}
.App{
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
}
.App__sideBar{
    width: 20%;
    border-right: 1px solid var(--color-border);
    height: 130vh;
}
.App__mainApp{
    width: 80%;
}
@media screen and (max-width: 950px) {
    .App__sideBar{
        width: 8%
    }
    .App__mainApp{
        width: 92%;
    }
}